<p>user works!</p>
<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="number">Number:</label>
            <input type="number" id="number" formControlName="number">
        </div>
        

        <button type="submit">Submit</button>

    </form>
</div>